label {
    user-select: none;
}
h3, h4 {
    margin-bottom: 20px;
}
.add-row-form {
    display: none;
    padding: 15px 0;
}
thead {
    td {
        font-weight: bold;
    }
}
td {
    text-align: center;
    input {
        margin: 0 auto;
    }
}
textarea {
    margin-bottom: 15px;
}
label {
    margin-bottom: 10px;
}
.btn-group {
    margin-bottom: 15px;
}
.sort-by {
    &:hover {
        color: #5cb85c;
        cursor: pointer;
    }
}
.red {
    background: red !important;
}
