label {
    user-select: none;
}
h3, h4 {
    margin-bottom: 20px;
}
.add-row-form {
    display: none;
    padding: 15px 0;
}
td {
    text-align: center;
    input {
        margin: 0 auto;
    }
}
