.square-table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
    width: 100%;
    td {
        border: 2px solid #3471ff;
        user-select: none;
        width: 20px;
        height: 40px;
        vertical-align: middle;
        text-align: center;
    }
}
