// Colors
$color-main: #F15944;
$color-base: #232323;
$color-assistant: #77CD69;
$color-inactive: #F1EFF0;
$color-white: #FFFFFF;

$color-main-mod: #FF7663;
$color-base-mod: #838383;
$color-assistant-mod: #86DB78;
